/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, subhead, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.5;
        background-color: rgba(255,255,255,1);
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Site Specific */
html {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
*, *:before, *:after {
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;
	}

/* Smart Phone */
@media screen 
and (max-device-width: 667px) {
	body {
		font-size: 15px;
		font-family: "Charter","Georgia", serif;
		line-height: 1.5;
	}
	div#wrapper {
		margin: 0 auto 0 auto;	
		padding: 2em 0 2em 0;
	}
	div#header {
		margin: 0;
		padding: 0 0 1em .5em;
	}
	div#footer {
		margin: 0;
		padding: 2em;
		text-align: center;
		background-color: rgba(128,128,128,.1);
	}
h2 {
	font-size: 150%;
	letter-spacing: .05em;
}
	p.statement, p.about, ul#cv {
		font-size: 150%;
		width: 100%;
		line-height: 1.6em;
		margin: 0 0 1em 0;
		padding: 0 1em 0 1em;
		letter-spacing: .01em;
	}
	p.image_info, p.caption {
		font-size: 150%;
                font-style: italic;
		width: 100%;
		line-height: 1.6em;
		margin: 0 0 10px 0;
		padding: .5em;
		letter-spacing: .03em;
              
		}
	p.statement.emphasis, p.image_info em {
		font-style: italic; 
	}
         p.permalink {
           margin: 0;
           padding: 0 0 0 12px;
           font-size: 110%;
      
        }

ul#gallery li p, div#gallery p {
		margin: 1em 0 0 0;
		padding: 0 1em 0 0;
		text-align: left;
		font-size: 100%;
		line-height: 1.6em;
                width: 70%;
	}
	ul#gallery li p.portfoliotitle, ul#gallery li p.projectstitle  {
		margin: 1em 0 0 0;
		padding: 0 1em 0 0;
		text-align: right;
		font-size: 75%;
		line-height: 1.6em;
	}	

	ul#portfolio_list li, ul#projects_list li {
		padding: 0;
		margin: 0 0 3em 0;
		height: 16em;
		overflow: hidden;
		position: relative;
                box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.5);  
	}
     
        h3 {
	font-size: 125%;
}
	ul#gallery li, div#gallery {
		margin: 0 0 9em 0;
                padding: 0;
	}
	ul#gallery li img, div#gallery img {
		width: 100%;
		margin: 0;
                padding: 0;
                box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.5);
	}
img.prints {
        border-style: solid;
        border-color: rgba(255,255,244,.1); 
        border-top-width: 10px;
        border-right-width: 15px;
        border-bottom-width: 10px;
        border-left-width: 15px;
        box-shadow: 1px 1px 2px rgba(51,51,51,.5);
         }
div#front {
		margin: 0 0 0 0;
                width: 100%;
	}
	div#front img {
		width: 100%;
                margin: 0 0 0 0;
	}
	
	dl#archives {
		text-align: left;
		font-size: 110%;
		line-height: 1.6em;
                margin: 0 1em 0 1em;
                padding: 0;
	}
	h6 {
		font-size: 175%;
	}
	h6.copyright {
	font-size: 75%;
}
        ul#subnav {
        font-size: 150%;
        margin: 0 .5em 1em .5em;
        padding: 0;
        line-height: 1.4em;
        }
}

/* Larger Screen */
@media screen 
and (min-device-width: 668px) {
	body {
		font-size: 17px;
		font-family: "Charter","Georgia", serif;
		line-height: 1.6;
	}
	div#wrapper {
		max-width: 1064px;
		margin: 0 auto 0 auto;	
		padding: 2em;
	}
	div#header {
		margin: 0;
		padding: 0 0 1em 0;
	}
	div#footer {
		margin: 0;
		padding: 2em 1em 2em 1em;
		background-color: rgba(128,128,128,.1);
	}
h2 {
	font-size: 150%;
	letter-spacing: .05em;
}	
	p.statement, p.about, ul#cv {
		font-size: 120%;
		width: 75%;
		line-height: 1.6em;
		margin: 0 0 1em 0;
		padding: 0 .5em 0 .5em;
		letter-spacing: .01em;
	}
	p.image_info, p.caption {
		font-size: 120%;
                font-style: italic;
		width: 100%;
		line-height: 1.5em;
		margin: 0 0 .5em 0;
		padding: .5em;
		letter-spacing: .03em;
             
		}
	p.statement.emphasis, p.image_info em {
		font-style: italic; 
	}


ul#gallery li p, div#gallery p  {
		margin: 1em 0 0 0;
		padding: 0 1em 0 0;
		text-align: left;
		font-size: 100%;
		line-height: 1.6em;
                width: 70%;
	}
	ul#gallery li p.portfoliotitle, ul#gallery li p.projectstitle {
		margin: 1em 0 0 0;
		padding: 0 1em 0 0;
		text-align: right;
		font-size: 75%;
		line-height: 1.6em;
	}
	ul#portfolio_list li, ul#projects_list li  {
		padding: 0;
		margin: 0 6% 3em 0;
		height: 17em;
                width: 44%;
		overflow: hidden;
		position: relative;
                float: left;
	}
         
        h3 {
	font-size: 100%;
        }
	ul#gallery li, div#gallery {
		margin: 0 0 6em 0;
                padding: 0;
	}
	ul#gallery li img, div#gallery img {
		width: 100%;
		margin: 0;
                padding: 0;
                box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.5);
	}
	ul#gallery li img.vertical, div#gallery img.vertical {
		width: auto;
		max-height: 720px;
		margin: 0;
                padding: 0;
	}
img.prints {
        border-style: solid;
        border-color: rgba(255,255,244,.1); 
        border-top-width: 20px;
        border-right-width: 25px;
        border-bottom-width: 20px;
        border-left-width: 25px;
        box-shadow: 1px 1px 6px rgba(51,51,51,.5);
         }
div#front {
		margin: 0 0 0 0;
                width: 100%;
	}
	div#front img {
		width: 100%;
                margin: 0 0 0 0;
	}
	
        dl#archives {
		text-align: left;
		font-size: 120%;
		line-height: 1.6em;
	}
	h6 {
		font-size: 150%;
	}
	h6.copyright {
	font-size: 75%;
	}
	h6 ul li {
		margin: 0 0 0 1.5em;
		padding:0;
	}
        ul#subnav {
        font-size: 150%;
        margin: 0 1em 1em 0;
        padding: 0;
        }
       
}

/* All Screens */
.links {
       text-align: left;
       padding: 1em;
       margin: 0;
       }
h2.links {
       font-size: 200%;
       line-height: 1.5em;
          }

p.links {
       font-size: 150%;
       line-height: 1.4em;
        }

br.clear {
        clear: both;
          }

ul#gallery {
        margin: .5em 0 0 0;
           }
div#content {
	margin: 0;
	padding: 0 0 2em 0;
}

ul#gallerynav {
        padding: 0 0 0 .5em;
        margin: 0 0 1em 0;
        font-size: 125%;
}
         

ul#navigation li, ul#subnav li, ul#gallerynav li {
	display: inline-block;
	margin: 0;
	padding: 0;
}
ul#navigation li:nth-child(n+2):before, ul#subnav li:nth-child(n+2):before, ul#gallerynav li:nth-child(n+2):before {
	content: " \00B7  ";
}
ul#portfolio_list li h3, ul#projects_list li h3 {
	position: absolute;
	top: 1.5em;
	left: 0;
	z-index: 1;
	background-color: rgba(255,255,255,.8);
	width: 100%;
	padding: .25em;
        line-height: 1.4em;
}
img.portfolio_image, img.projects_image {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
	width: 100%;
}


ul#portfolio_list li a:link h3, ul#portfolio_list ul li a:visited h3, ul#projects_list li a:link h3, ul#projects_list ul li a:visited h3{
	color: rgba(0,0,0,.7);
	text-decoration: none;
}
div#header h1, div#header h2 {
	margin: 0;
	padding: 0 0 .25em 0;
}
div#header h2 ul li {
	display: inline-block;
}
h1 {
	font-size: 250%;
	text-transform: uppercase;
	letter-spacing: .04em;
}
h1 a:link, h1 a:visited {
	color: rgba(0,0,0,1);
        text-decoration: none;
        border-bottom: 0px solid rgba(0,0,0,1);
}

h4 {
	font-size: 110%;
        font-weight: normal;
        margin: 0 0 1em 0;
        padding: 0;
        line-height: 1.5em;
}

h5.image_info {
font-family: georgia, 'times new roman', times, serif;
font-size: 90%;
letter-spacing: .1em;
color: black;
margin: 0;
padding: .5em;
line-height: 1.5em;
}

h5.image_info a {
color: rgba(75,75,75,.8);
}

p {
	font-size: 100%;
}
h6 a:link, h6 a:visited {
	color: rgba(0,0,0,1);
        text-decoration: none;
         border-bottom: 1px solid black;
}
h6 ul li a:link, h6 ul li a:visited {
	display: inline-block;
	margin: 1em 0 0 0;
	color: rgba(0,0,0,.5);
        text-decoration: none;
         border-bottom: 1px solid black;
}
h1, h2, h3, h4, h5, h6, p {
	margin: 0;
	padding: 0;
}
h4.subhead{
	margin: 1em 0 0 0;
	padding: 0;
}
a:link, a:visited {
	text-decoration: none;
	color: rgba(0,0,0,.4);
        border-bottom: 1px solid rgba(0,0,0,.4);
        padding: 0 0 0 0;
}
a:hover, a:active {
	text-decoration: none;
	color: rgba(0,0,0,.4);
         border-bottom: 1px solid white;
         padding: 0 0 0 0;
}

 p.permalink a:link, p.permalink a:visited {
         text-decoration: none;
          border-bottom: 0px solid white;
          padding: 0 0 .1em 0;
         }
.current a:link, .current a:visited {
	color: rgba(0,0,0,1);
         border-bottom: 1px solid black;
         padding: 0 0 0 0;
}
.current a:hover, .current a:active {
	color: rgba(0,0,0,1);
         border-bottom: 1px solid white;
         padding: 0 0 0 0;
}
h3.title {
	font-size: 150%;
	padding: .3em 0 .3em .3em;
	margin: 0 0 .5em 0;
	line-height: 1.5em;
	background-color: rgba(128,128,128,.1);
	color: rgba(0,0,0,1);
	width: 100%;
}
h3.title a:link, h3.title a:visited {
	color: rgba(0,0,0,.6);
	padding: 0;
	margin: 0;
}

h4.announcement {
	font-size: 110%;
	padding: .3em 0 .3em .3em;
	margin: 0 0 1em 0;
	line-height: 1.6em;
	background-color: rgba(128,128,128,.1);
	color: rgba(0,0,0,1);
	width: 100%;
        display: none;
}
h4.announcement a:link, h4.announcement a:visited {
	color: rgba(0,0,0,.6);
	padding: 0;
	margin: 0;
}
h4.banner {
	font-size: 110%;
	padding: .3em 0 .3em .3em;
	margin: 0 0 1em 0;
	line-height: 1.6em;
	background-color: rgba(128,128,128,.1);
	color: rgba(0,0,0,1);
	width: 100%;
}
h4.banner a:link, h4.announcement a:visited {
	color: rgba(0,0,0,.6);
	padding: 0;
	margin: 0;
}

h3.cv_title {
	font-size: 140%;
	padding: 0;
	margin: 1em 0 0 0;
	line-height: 1.5em;
}
h4.cv_date {
	font-size: 90%;
	padding: 0;
	margin: 0;
	line-height: 1.5em;
        letter-spacing: .1em;
}
dl#archives dt, dl#archives dd, dl#archives dt h4, dl#archives dd h4{
	display: inline-block;
}
dl#archives dd:nth-child(n+3):before {
	content: " \00B7  ";
}
dd p, p.nodate {
	line-height: 1.5em;
	padding: 0;
	margin: 0 0 .5em 0;
}
h1#error_message {
	color: orange;
	font-size: 400%;
	letter-spacing: normal;
	line-height: 1.3em;
	text-align: center;
}
dd p em {
         font-style: italic;
        }
dd p b {
         font-weight: bold;
        }