---
title: Recent Posts
permalink: /recent/index.html
---

{% extends "layout.njk" %}

{% block content %}

<ul id="gallery">
  {% set counter = 0 %}
  {% for post in collections.flatPosts %}
    {% if counter < 50 %}
      <li>
        {{ post.content | safe }}
        <a href="{{ post.url }}">→</a>
      </li>
      {% set counter = counter + 1 %}
    {% endif %}
  {% endfor %}
</ul>

<hr>
  <h2>Archives</h2>

  {% set years = collections.years | sort(attribute='year') | reverse %}
  {% for y in years %}
    <p>
      <strong>{{ y.year }}:</strong>
      {% for m in collections.months %}
        {% if m.year == y.year %}
          <a href="/recent/{{ m.year }}/{{ m.month }}/">
            {{ m.month | date('MMM') }}
          </a>{% if not loop.last %} · {% endif %}
        {% endif %}
      {% endfor %}
    </p>
  {% endfor %}
  {% endblock %}